.App {
  text-align: center;
}

.imagediv{
  display:flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.image {
  width: 250px;
  height: 250px;
}

.wrapper {
  display:flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.button {
  margin-bottom: 10px;
}